* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Shantell Sans", cursive;
}

.caixa-principal {
    height: 100vh;
    width: 100%;
    background-image: url(./img/background.png);
    background-size: cover;
    background-position: center;
    background-color: #191919;


}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-right: 24px;
    padding-top: 30px;
    filter: drop-shadow(0 0 10px #fff);
}

.portfolio {
    color: #7CFC00;
    font-size: 45px;
    filter: drop-shadow(1 1 7px #fff)
}

.portfolio span {
    color: #A020F0;
    font-size: 45px;
}

li {
    color: white;
    list-style: none;
    display: inline-block;
    font-size: 25px;
    margin-right: 30px;
    cursor: pointer;

}

li:hover {
    color: #7CFC00;
    transition: 0.6s;

}

.meu-nome {
    position: absolute;
    top: 50%;
    left: 7%;

}

.meu-nome h1 {
    color: #7CFC00;
    font-size: 70px;
    line-height: 96px;
    letter-spacing: 80px;
    text-align: center;
    font-family: "Shantell Sans", cursive;
    letter-spacing: 6px;
    filter: drop-shadow(0 0 10px #fff)
}

.meu-nome h3 {
    color: #A020F0;
    font-family: "Protest Revolution", sans-serif;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 2px;

}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0px;
    background-color: #000000;

}

section img {
    width: 300px;
    height: 300px;
    margin: 0;
    filter: drop-shadow(0 0 10px #fff);
    max-width: 100%;
    height: auto;


}

section h2 {
    color: white;
    font-size: 50px;
    width: 980px;
    font-style: italic;
    margin-left: 60px;
    font-family: "Shantell Sans", cursive;
    filter: drop-shadow(0 0 10px #fff);
}


section p {
    color: white;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

section button {
    color: rgb(22, 20, 20);
    background: #7CFC00;
    height: 45px;
    width: 200px;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.6s ease all;
}

section button:hover {
    background-color: #A020F0;
    border: 4px solid black;
    transition: 0.5s;
}

.projetos {
    background-color: #191919;
    padding-top: 80px;
    padding-top: 65px;
    font-family: "Shantell Sans", cursive;



}

.projetos h4 {
    color: white;
    font-size: 75px;
    filter: drop-shadow(0 0 10px #fff);
    text-align: center;


}

.card {
    background-color: #000000;
    height: 365px;
    width: 335px;
    border-radius: 20px;
    padding: 20px 35px;
    text-align: center;
    margin-bottom: 80px;

}

.card img {
    height: 70px;
    flex: 1;
    /* Ocupa o máximo de espaço disponível */
    margin: 0 10px;
    /* Espaçamento entre os cards */
}

.card h5 {
    color: white;
    font-size: 24px;

}

.card p {
    color: bisque;
    font-family: "Shantell Sans", cursive;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 40px;

}

.card a {
    color: rgb(22, 20, 20);
    background: #7CFC00;
    font-size: 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.6s ease all;
    padding: 0px 25px;
    text-decoration: none;

}

.card a:hover {
    background-color: #A020F0;
    border: 5px solid black;
    transition: 0.5s;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    max-width: 1200px;
    /* ou outro valor apropriado */
    margin: 0 auto;
    /* Centraliza o conteúdo */
    flex-wrap: wrap;
    /* Permite que os itens quebrem para a próxima linha */

}

footer {
    background-color: #000000;
    padding-top: 100px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



}

footer h7 {
    color: white;
    font-size: 50px;

}

footer p {
    color: white;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 50px;

}

.social {
    display: flex;
    gap: 40px;
}

.social img {
    height: 25px;
    border-radius: 50%;

}

.social a {
    background-color: #0cdf28;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    cursor: pointer;

}

.social a:hover {
    transform: scale(2.0);
    background-color: #A020F0;
    border: 5px solid black;
    transition: 0.5s;
}

/* ajuda do chat gpt em baixo*/


@media only screen and (max-width: 768px) {

    /* Adicione estilos para telas menores que 768px */
    .caixa-principal {
        background-size: cover;
        /* ou outro ajuste que você preferir */
    }

    nav {
        padding-left: 50px;
        padding-right: 70px;
    }

    .meu-nome {
        left: 3%;
    }

    h1 {
        font-size: 40px;
    }

    section img {
        width: 100%;
        /* Faça as imagens ocuparem a largura total do contêiner */
        height: auto;
        /* Evite que as imagens se estiquem */

    }

    section h2 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 480px) {
    /* Adicione estilos para telas menores que 480px, se necessário */
}